* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans',
        sans-serif;
    background-color: #eee;
}

html {
    scroll-behavior: smooth;
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* mini */
@media (min-width:768px) {
    .container {

        width: 750px;
    }
}

/* medium */
@media (min-width:992px) {
    .container {

        width: 970px;
    }
}

/* large */
@media (min-width:1200px) {
    .container {

        width: 1170px;
    }
}




.header {
    padding: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    width: 90px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
    height: 2px;
}

.header .links .icon span:first-child {
    width: 100%;
}

.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links .icon span:last-child {
    width: 100%;
}

.header .links ul {
    list-style: none;
    background-color: #eee;
    margin: 0;
    padding: 0px;
    position: absolute;
    right: 0;
    top: 30px;
    min-width: 200px;
    border-radius: 25px;
    background-color: #10cab7;
    display: none;
    z-index: 1;
}

.header .links ul::before {
    content: "";
    border: 10px solid;
    border-color: transparent transparent black transparent;
    right: 0;
    position: absolute;
    top: -20px;
}

.header .links ul a {
    display: block;
    padding: 15px;
    color: black;
    text-decoration: none;
    transition: 0.3s;
}

.header .links ul a:hover {
    padding-left: 25px;
}

.header .links:hover ul {
    display: block;

}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #eee;
}


.landing {
    background-image: url(../images/mo.webp);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    height: calc(100vh - 64px);
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 320px;
    max-width: 100%;
}

.landing .intro-text h1 {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: #10cab7;
}

.landing .intro-text p {
    font-size: 19px;
    line-height: 1.8;
}

.features {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #eee;

}

.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    background-color: #eee;
}

.features .feat {
    text-align: center;
}

.features .feat i {
    color: #10cab7;
    transition: 00.3s;
}

.features .feat i:hover {
    transform: translateY(-20px);
}

.features .feat h3 {
    font-weight: 800;
}

.features .feat p {
    line-height: 1.8;
    color: #777;
}

.special h1 {
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    margin: 0%;
    letter-spacing: -3px;
    color: rgba(0, 0, 0, 0.089);
}

.special p {
    margin: -50px 0 0;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.397);
}

@media (max-width:767) {
    .special h1 {
        font-size: 60px;
    }

    .special p {
        margin: -30px;
    }
}

.services {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .col .serv {
    display: flex;
    margin-bottom: 20px;
}

.services .col .serv i {
    color: #10cab7;
    flex-basis: 60px;
}

.services .col .serv .text {
    flex: 1;
}

.services .col .serv .text h3 {
    margin: 0 0 20px;

}

.services .col .image {
    text-align: center;
    position: relative;
}


.services .col .image::before {
    content: "";
    background-color: #6F6974;
    width: 100px;
    height: calc(100% + 100px);
    top: -50px;
    position: absolute;
    right: 0;
    border-radius: 20px;
    border-top-right-radius: none;
    z-index: -1;
}

.services .col .image img {
    width: 260px;
    height: 300px;
    border-radius: 20px;
}

.port {
    background-color: white;
}

.portfoliocontainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-top: 100px;
}

.portfoliocontainer .port h2 {
    text-align: left;
    font-weight: bold;
    font-size: medium;
    line-height: 1.8px;
    margin-top: 10px;
}

.portfoliocontainer .port p {
    color: black;
}

.portfoliocontainer .port img {
    border-radius: 1px;
}


.aboutinfo {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-gap: 60px;
    margin-top: 100px;
}

.hr {
    border-color: #10cab7;
    width: 50%;
    display: inline-block;
}

.lorem1 {
    font-weight: bold;
}

.lorem2 {
    font-weight: lighter;
    font-size: small;
}

.free {
    font-weight: bold;
    font-size: xx-large;
    color: #2c4755;
    margin-top: 100px;
    margin-left: 100px;
    padding-bottom: 0%;
}

.mail {
    font-weight: bold;
    font-size: xx-large;
    color: #10cab7;
    position: relative;
    margin-left: 128px;
    margin-top: -25px;
}

.social {
    font-weight: lighter;
    font-size: small;
    color: black;
    position: relative;
    margin-left: 150px;
    margin-top: -25px;
}

footer {
    background-color: #2c4755;
    text-align: center;
    height: 70px;
    color: white;
}

footer p {
    color: white;
    padding-top: 30px;
}

.leon {
    color: #10cab7;
}